<div th:replace="StartPage"> </div>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Enqueteurs/</span>Liste des Enqueteurs</h4>

              
            <!-- Striped Rows -->
            <div class="card">
              <h5 class="card-header">Liste des Enqueteurs</h5>
              <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Telephone</th>
                      <th>Age</th>
                      <th>Adresse</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="enqueteur:${allEnqueteurs}">
                      <td>
                        <a th:href="@{detail-enqueteur(id=${enqueteur.id})}"> <strong th:text="${enqueteur.nom}"></strong> </a>
                      </td>
                      <td>
                      	<a th:href="@{detail-enqueteur(id=${enqueteur.id})}"> <strong th:text="${enqueteur.prenom}"></strong> </a></td>
                      <td th:text="${enqueteur.telephone}"></td>
                      <td th:text="${enqueteur.age}"></td>
                      <td th:text="${enqueteur.adresse}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--/ Striped Rows -->
          </div>
          <!-- Content wrapper -->

            
<div th:replace="EndPage"> </div>